@mixin card {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

.wrapper {
	display: flex;
	position: absolute;
	height: 100vh;

	.new-review,
	.edit-review {
		@include card;

		.btn {
			background-color: #5aa8e4;
			border-color: #5aa8e4;
			color: #fff;

			&:hover {
				background-color: #559bd1;
			}
		}
	}

	.edit-review {
		width: 50%;
		margin: 50px 0 0 200px;
		height: 200px;
	}

	.recent-reviews {
		@include card;
		padding-left: 30px;
		padding-right: 30px;

		h5 {
			margin-bottom: 15px;
			padding-bottom: 10px;
			color: #5aa8e4;
			border-bottom: 2px solid #f1f2f3;
		}
	}

	aside {
		border-left: 1px solid #dddddd;
		padding: 0;

		img {
			border: 1px solid #808080;
			border-radius: 50%;
			width: 60px;
			height: 60px;
		}
	}
}

.review-card {
	@include card;
	margin-top: 100px;
	padding-left: 30px;
	padding-right: 30px;
}

.review-container {
	display: flex;
	width: 100%;
	border-bottom: 2px solid #f1f2f3;

	img {
		width: 60px;
		height: 60px;
		border: 1px solid #808080;
		border-radius: 50%;
	}

	.review-links {
		float: right;

		a {
			margin: 0 10px;
			color: #5aa8e4;
			text-decoration: none;

			&:hover {
				color: #4f90c2;
			}
		}
	}
}

.review-course {
	margin-top: 100px;

	.course-card {
		margin: 0 0 0 20px;
		width: 90%;
	}
}
