<header class="col-10 top-navbar">
  <nav class="d-flex">
    <div class="d-flex align-items-center w-50">
      <span class="logo">
        CR
        <%
=begin%>
        <%= link_to root_path do %>
        <i class="fab fa-twitter text-white"></i>
        <% end %>
        <%
=end%>
      </span>
    </div>
    <ul class="nav w-50 justify-content-end text-dark">
      <li class="p-3 pr-4">
        <%= link_to new_course_path do %>
        <i class="fas fa-plus-square"></i>
        <% end %>
      </li>
      <li class="p-3 pr-4">
        <%= link_to edit_user_path current_user do %>
        <i class="fas fa-pen"></i>
        <% end %>
      </li>
      <li class="p-3 pr-4">
        <i class="fas fa-search"></i>
      </li>
      <li class="p-3 pr-4">
        <i class="fas fa-cog"></i>
      </li>
    </ul>
  </nav>
</header>