<header class="col-10 top-navbar">
  <nav class="d-flex">
    <div class="w-50">
      <span class="p-3">
        <i class="fab fa-twitter"></i>
      </span>
    </div>
    <ul class="nav w-50 justify-content-end text-dark">
      <li class="p-3 pr-4">
        <i class="fas fa-pen"></i>
      </li>
      <li class="p-3 pr-4">
        <i class="fas fa-envelope"></i>
      </li>
      <li class="p-3 pr-4">
        <i class="fas fa-search"></i>
      </li>
      <li class="p-3 pr-4">
        <i class="fas fa-cog"></i>
      </li>
    </ul>
  </nav>
</header>