<nav class="unlogged-nav">
  <ul class="list-unstyled d-flex justify-content-center p-2">
    <li>
      <%= link_to 'SIGN UP', signup_path %>
    </li>
    <li>
      <%= link_to 'LOG IN', login_path %>
    </li>
  </ul>
</nav>
<section class="welcome">
  <h1>Welcome to Course Reviews!</h1>
  <p>Here we share short reviews and experiences about online courses</p>
</section>